// ==========================================================================
// Responsive
// ==========================================================================
@media (max-width: 900px) {
  footer {
    .footer-content {
      column-gap: var(--spacing-sm);
      row-gap: var(--spacing-sm);
    }

    .contact,
    .legal {
      flex: 1 1 100%;
    }

    .divider {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  :root {
    --font-size-heading: 1.5em;
    --size-me: 80px;
    --spacing-md: 15px;
    --spacing-sm: 8px;
  }

  main {
    .text {
      max-width: 90%;
      padding: 0 var(--spacing-sm);
    }

    >h1 {
      font-size: var(--font-size-heading);
      text-align: center;
    }
  }

  footer {

    >.empty,
    >.icons {
      flex: 0 0 var(--size-icon-empty);
    }

    .divider {
      display: none;
    }

    .footer-content {
      column-gap: var(--spacing-sm);
      row-gap: var(--spacing-sm);
    }

    .contact {
      flex-direction: column;

      .separator {
        display: none;
      }
    }

    .contact,
    .legal {
      flex: 1 1 100%;
    }

    .icons {
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
}

@media (max-width: 360px) {
  footer {
    flex-direction: column;

    .empty {
      display: none;
    }

    .icons {
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .legal {
      flex-direction: column;

      .separator {
        display: none;
      }
    }
  }
}